[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pillow = "*"
drf-yasg = "*"

[requires]
python_version = "3.13"
